body{
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    cursor: pointer;
    border: 5px solid black;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    justify-content: center;
    font-size: 150%;
    margin: 10px 22%;
    color: whitesmoke;
    border-radius: 10px;
}

.devButton{
    cursor: pointer;
    background-color: grey;
    border: 5px solid black;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    margin: 16px;
    color: whitesmoke;
    border-radius: 10px;
}

.devButton:hover{
    background-color: rgb(133, 178, 236);
}

div#status {
    text-align: center;
    font-size: 150%;
    padding: 4%;
}
div#resTitle{
    text-align: center;
    font-size: 150%;
}

.button.one {
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;   
    color: whitesmoke;
}
.button.one:hover {
    background-color: whitesmoke; 
    color: cornflowerblue;
    transition-duration: 0.5s;  
}
.button.one.active{
    background-color: rgba(100, 148, 237, 0.5);
    color: whitesmoke;
    transition-duration: 0.5s;  
}

.button.two {
    background-color: firebrick;
    border: 2px solid firebrick;   
    color: whitesmoke;
}
.button.two:hover {
    background-color: whitesmoke; 
    color: firebrick;
    transition-duration: 0.5s;  
}
.button.two.active{
    background-color: rgba(178, 34, 34, 0.5);
    color: whitesmoke;
    transition-duration: 0.5s;  
}

.button.three {
    background-color: green;
    border: 2px solid green;   
    color: whitesmoke;
}
.button.three:hover {
    background-color: whitesmoke; 
    color: green;
    transition-duration: 0.5s;  
}
.button.three.active{
    background-color: rgba(0, 128, 0, 0.5);
    color: whitesmoke;
    transition-duration: 0.5s;  
}

.button.four {
    background-color: orange;
    border: 2px solid orange;   
    color: whitesmoke;
}
.button.four:hover {
    background-color: whitesmoke; 
    color: orange;
    transition-duration: 0.5s;  
}
.button.four.active{
    background-color: rgba(255, 166, 0, 0.5);
    color: whitesmoke;
    transition-duration: 0.5s;  
}

.graph{
    padding: 10px 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 22%;
    margin-right: 76%;
    color: whitesmoke;
}
#graph1{
    background-color: cornflowerblue;
}
#graph2{
    background-color: firebrick;
}
#graph3{
    background-color: green;
}
#graph4{
    background-color: orange;
}

/* mobile devices only */
@media only screen and (max-device-width: 600px) {

    .button {
        padding: 8% 10%;
        margin: 2% 12%;
        font-size: 300%;
    }

    div#status {
        font-size: 350%
    }

}