body{
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    cursor: pointer;
    background-color: grey;
    border: 2px solid black;
    padding: 5% 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200%;
    margin: 16px;
    color: whitesmoke;
    border-radius: 10px;
}

.button:hover{
    background-color: darkgray;
}

.button.active{
    background-color: greenyellow;
}